In [54]:
import numpy as np
import pandas as pd
import re
import datetime

In [55]:
data = 'https://www.ndbc.noaa.gov/data/realtime2/46029.spec'
article_read = pd.read_csv(data, sep='\s+', delimiter=' ', encoding="utf-8", skipinitialspace=True)

In [56]:
article_read.head()

,#YY,MM,DD,hh,mm,WVHT,SwH,SwP,WWH,WWP,SwD,WWD,STEEPNESS,APD,MWD
0,#yr,mo,dy,hr,mn,m,m,sec,m,sec,-,degT,-,sec,degT
1,2019,03,21,17,00,1.9,1.8,10.8,0.6,3.6,W,S,SWELL,7.3,261
2,2019,03,21,16,00,2.1,2.0,10.8,0.6,5.6,WSW,SW,SWELL,7.9,251
3,2019,03,21,15,00,2.0,1.9,12.9,0.5,5.0,WNW,SW,SWELL,8.1,285
4,2019,03,21,14,00,2.1,2.1,12.9,0.4,3.8,W,SW,SWELL,8.5,265

In [57]:
short_table = article_read.drop(article_read.iloc[:,3:6,], axis=1)

In [65]:
short_table = short_table.drop(['STEEPNESS', 'APD', 'MWD'], axis=1)

In [66]:
d = datetime.datetime.today().strftime('%Y-%m-%d')
d

'2019-03-21'

In [67]:
today_date = datetime.date.today()
today_date

datetime.date(2019, 3, 21)

In [68]:
short_table = short_table.rename(columns={'#YY': 'YY'})

In [69]:
date = (short_table.YY + '-' + short_table.MM + '-' + short_table.DD)
short_table['Date'] = date

In [72]:
data_table = short_table.drop(short_table.columns[[0,1,2]], axis=1)
data_table = data_table[data_table['Date']==d]

In [73]:
data_table['SwH'] = data_table.SwH.astype(float)
data_table['SwP'] = data_table.SwP.astype(float)
data_table['WWH'] = data_table.WWH.astype(float)
data_table['WWP'] = data_table.WWP.astype(float)

In [74]:
data_table.dtypes

SwH     float64
SwP     float64
WWH     float64
WWP     float64
SwD      object
WWD      object
Date     object
dtype: object

In [76]:
wave = data_table.SwH * data_table.SwP
data_table['Wave'] = wave

In [77]:
data_table['Score'] = 0
data_table

    SwH   SwP  WWH  WWP  SwD  WWD        Date  Score   Wave
1   1.8  10.8  0.6  3.6    W    S  2019-03-21      0  19.44
2   2.0  10.8  0.6  5.6  WSW   SW  2019-03-21      0  21.60
3   1.9  12.9  0.5  5.0  WNW   SW  2019-03-21      0  24.51
4   2.1  12.9  0.4  3.8    W   SW  2019-03-21      0  27.09
5   1.9  10.8  0.5  3.7    W   SW  2019-03-21      0  20.52
6   2.1  12.1  0.5  3.6    W  SSW  2019-03-21      0  25.41
7   2.1  12.1  0.5  5.0    W  SSW  2019-03-21      0  25.41
8   2.0  13.8  0.5  4.5    W  SSW  2019-03-21      0  27.60
9   1.9  13.8  0.5  4.3  WSW    S  2019-03-21      0  26.22
10  1.9  13.8  0.5  4.0    W    S  2019-03-21      0  26.22
11  1.9  13.8  0.5  4.3  WSW    S  2019-03-21      0  26.22
12  1.9  12.9  0.5  3.3    W  SSW  2019-03-21      0  24.51
13  2.0  12.9  0.6  3.4    W    S  2019-03-21      0  25.80
14  1.9  12.9  0.8  3.3    W  SSW  2019-03-21      0  24.51
15  1.9  13.8  0.7  3.3  WNW  SSW  2019-03-21      0  26.22
16  2.0  12.9  0.6  5.3  WNW   SW  2019-03-21      0  25.80
17  2.0  13.8  0.7  6.2    W   SW  2019-03-21      0  27.60
18  2.1  13.8  0.3  4.5    W  SSW  2019-03-21      0  28.98