In [10]:
import numpy as np
import pandas as pd
import re
import datetime

In [11]:
data = 'https://www.ndbc.noaa.gov/data/realtime2/46029.spec'
article_read = pd.read_csv(data, sep='\s+', delimiter=' ', encoding="utf-8", skipinitialspace=True)

In [12]:
article_read.head()

,#YY,MM,DD,hh,mm,WVHT,SwH,SwP,WWH,WWP,SwD,WWD,STEEPNESS,APD,MWD
0,#yr,mo,dy,hr,mn,m,m,sec,m,sec,-,degT,-,sec,degT
1,2019,03,21,16,00,2.1,2.0,10.8,0.6,5.6,WSW,SW,SWELL,7.9,251
2,2019,03,21,15,00,2.0,1.9,12.9,0.5,5.0,WNW,SW,SWELL,8.1,285
3,2019,03,21,14,00,2.1,2.1,12.9,0.4,3.8,W,SW,SWELL,8.5,265
4,2019,03,21,13,00,2.0,1.9,10.8,0.5,3.7,W,SW,SWELL,7.9,263

In [13]:
short_table = article_read.drop(article_read.iloc[:,3:6,], axis=1)

In [14]:
short_table.drop(['STEEPNESS', 'APD', 'MWD'], axis=1).head()

    #YY  MM  DD  SwH   SwP  WWH  WWP  SwD   WWD
0   #yr  mo  dy    m   sec    m  sec    -  degT
1  2019  03  21  2.0  10.8  0.6  5.6  WSW    SW
2  2019  03  21  1.9  12.9  0.5  5.0  WNW    SW
3  2019  03  21  2.1  12.9  0.4  3.8    W    SW
4  2019  03  21  1.9  10.8  0.5  3.7    W    SW

In [15]:
d = datetime.datetime.today().strftime('%Y-%m-%d')
d

'2019-03-21'

In [16]:
today_date = datetime.date.today()
today_date

datetime.date(2019, 3, 21)

In [17]:
short_table = short_table.rename(columns={'#YY': 'YY'})

In [18]:
date = (short_table.YY + '-' + short_table.MM + '-' + short_table.DD)
short_table['Date'] = date

In [19]:
data_table = short_table.drop(short_table.columns[[0,1,2]], axis=1)

In [20]:
today_table = data_table[data_table['Date']==d]
today_table

    SwH   SwP  WWH  WWP  SwD  WWD STEEPNESS  APD  MWD        Date
1   2.0  10.8  0.6  5.6  WSW   SW     SWELL  7.9  251  2019-03-21
2   1.9  12.9  0.5  5.0  WNW   SW     SWELL  8.1  285  2019-03-21
3   2.1  12.9  0.4  3.8    W   SW     SWELL  8.5  265  2019-03-21
4   1.9  10.8  0.5  3.7    W   SW     SWELL  7.9  263  2019-03-21
5   2.1  12.1  0.5  3.6    W  SSW     SWELL  8.4  272  2019-03-21
6   2.1  12.1  0.5  5.0    W  SSW     SWELL  8.6  261  2019-03-21
7   2.0  13.8  0.5  4.5    W  SSW     SWELL  8.4  269  2019-03-21
8   1.9  13.8  0.5  4.3  WSW    S     SWELL  8.3  258  2019-03-21
9   1.9  13.8  0.5  4.0    W    S     SWELL  8.4  264  2019-03-21
10  1.9  13.8  0.5  4.3  WSW    S     SWELL  8.2  249  2019-03-21
11  1.9  12.9  0.5  3.3    W  SSW     SWELL  7.9  263  2019-03-21
12  2.0  12.9  0.6  3.4    W    S     SWELL  7.5  271  2019-03-21
13  1.9  12.9  0.8  3.3    W  SSW     SWELL  7.2  266  2019-03-21
14  1.9  13.8  0.7  3.3  WNW  SSW     SWELL  7.2  287  2019-03-21
15  2.0  12.9  0.6  5.3  WNW   SW     SWELL  7.5  283  2019-03-21
16  2.0  13.8  0.7  6.2    W   SW     SWELL  9.9  274  2019-03-21
17  2.1  13.8  0.3  4.5    W  SSW     SWELL  9.5  276  2019-03-21